.section{
    display: flex;
    max-width: 829px;
    row-gap: 12px;
    margin: 0 auto;
}
.input{
    max-width: 377px;
}

.button{
margin-left: 12px;
}
.button:last-of-type{
    margin-left: 80px;
}

.list {
    display: flex;
    list-style-type: none;
    margin: 120px auto 100px;
    justify-content: center;
    column-gap: 16px;
    row-gap: 78px;
    padding: 0;
    max-width: 944px;
    flex-wrap: wrap;
  }