.section {
  display: flex;
  gap: 12px;
  column-gap: 12px;
  margin: 0 auto;
  max-width: 952px;
  margin-bottom: 12px;
}

.input {
  max-width: 204px;
}

.listItem{
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
}

.top{
  position: absolute;
  top: -65px;
  left: 12px;
}

.bottom{
  position: absolute;
  bottom: -105px;
  left: 12px;
}
.list {
  display: flex;
  list-style-type: none;
  margin: 120px auto 100px;
  justify-content: center;
  column-gap: 16px;
  row-gap: 78px;
  padding: 0;
  max-width: 944px;
  flex-wrap: wrap;
}