.sectionfib {
    display: grid;
    column-gap: 12px;
    grid-template-columns: 1fr 178px;
    max-width: 567px;
    margin: 0 auto;
  }
  
  .listfib {
    display: flex;
    list-style-type: none;
    margin: 48px auto 100px;
    justify-content: center;
    column-gap: 16px;
    row-gap: 78px;
    padding: 0;
    max-width: 944px;
    flex-wrap: wrap;
  }